<h2><%= genre.name%></h2>
<a href="/genres/<%= genre.id%>/edit">Edit</a>
<%- include ("../partials/deleteForm", {url: `/genres/${genre.id}`})%> <% if
(moviesInGenre.length > 0){%>
<h2>Movies in Genre</h2>
<% moviesInGenre.forEach(movie=>{%>
<a href="/movies/<%= movie.id%>">
  <img height="150" width="100" src="<%= movie.coverImagePath%>" />
</a>
<%}) %> <%}%>
