<h2 class="page-header"><%= movie.title%></h2>
<div class="movie-details">
  <div>
    <img class="movie-cover" src="<%= movie.coverImagePath%>" />
    <div class="movie-details-btn-grid">
      <a class="btn btn-primary" href="/movies/<%= movie.id%>/edit">Edit</a>
      <%- include('../partials/deleteForm', { url: `/movies/${movie.id}` }) %>
      <a
        class="btn btn-primary movie-details-genre-button"
        href="/genres/<%= movie.genre.id %>"
        >View Genre</a
      >
    </div>
  </div>
  <div class="movie-details-grid">
    <div class="movie-details-label">Genre:</div>
    <div><%= movie.genre.name%></div>
    <div class="movie-details-label">Release Date:</div>
    <div><%= movie.releaseDate.toDateString()%></div>
    <div class="movie-details-label">Length:</div>
    <div><%= movie.length%></div>
    <div class="movie-details-label">Description:</div>
    <div><%= movie.description%></div>
  </div>
</div>
