<h2 class="page-header"><%= movie.title%></h2>
<img width="100" height="150" src="<%= movie.coverImagePath%>" />
<div>Genre: <%= movie.genre.name%></div>
<div>Release Date: <%= movie.releaseDate.toDateString()%></div>
<div>Length: <%= movie.length%> min</div>
<div>Description: <%= movie.description%></div>

<a href="/movies/<%= movie.id%>/edit">Edit</a>
<%- include('../partials/deleteForm', { url: `/movies/${movie.id}` }) %>
<a href="/genres/<%= movie.genre.id %>">View Genre</a>
